.collapsible {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}
.collapsible:hover {
  background-color: #ccc;
}

.data-table th, .data-table td {
    border: 0px solid #ddd;
    padding: 8px;
}

.content {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: sans-serif;
  font-weight: 100;
}

table{
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  min-width: 95%;
  width: auto;
}

th,
td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  /* color: #fff; */ 
}
th {
  text-align: left;
}


/* tbody {
  tr {
    &:hover {
      background-color: rgba(111, 112, 127, 0.237);
    }
  } */
  /* td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(111, 112, 127, 0.237);
        z-index: -1;
      }
    }
  } */
/* } */


.highlight {
  background-color: lightgreen;
}

.hidden {
  display: none;
}

.checkmark::before {
  content: '✅';
  font-size: 20px;
  color: green;
}
td{
  font-size: 1px;
}
table td:first-child {
    font-size: 18px; /* Change this value to whatever font size you prefer */
    text-align: left;
    min-width: 350px;
    /* width: auto;
    max-width: 400%; */
}
table th{
  min-width: 50px;
}
.cross::before {
  content: '❌';
  font-size: 20px;
}

.table-container {
  overflow-x: auto; /* Enables horizontal scrolling */
  width: 100%;      /* Make sure the container takes full page width */
}



.filters-div {
  width: auto;
  height: auto;
  /* background-color: #ff3a7f; */
  opacity: 0;
  visibility: hidden;
  display: none;
  animation: slideInOut 0.5s ease-in-out;
  border: 2px solid #4CAF50;
  padding: 10px;
  background-color: #f9f9f9;
}

.filters-div.visible {
  opacity: 1;
  visibility: visible;
  display: block;
}

@keyframes slideInOut {
  0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(0);
  }

  50% {
      opacity: 0.5;
      visibility: visible;
      transform: translateY(0);
  }

  100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
}

/* .filters-row{
  display: flex;
}

.filters-column{
  width: 50%;
} */

fieldset{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

fieldset {
  border: 0px solid #4CAF50;
  padding: 5px;
  background-color: #f9f9f9;
}
legend {
  font-weight: bold;
  /* color: #4CAF50; */
}

tbody tr:hover {
  outline: 2px solid #666;
  outline-offset: -2px;
  background-color: rgba(97, 97, 97, 0.116);
  /* font-weight: bold; */
  color: #018369;
}
thead th {
  background-color: #018369;
  color: #ffffff;
  text-align: left;
}
table{
  border: 1px solid #dddddd;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}
tbody tr:last-of-type {
  border-bottom: 2px solid #018369;
}