<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdM Knowledge Base</title>

    <link rel="stylesheet" href="static/styles.css">

    <link rel="stylesheet" href="static/headerstyles.css">

    <script type="text/javascript" src="static/tables.js"></script>
    <script type="text/javascript" src="static/filters.js"></script>

    <script>
        var loaded = new Array();
        var displayed = new Array();
        var current_main_entity = new String();
    </script>
</head>

<body>
    <header class="nav-header">
        <nav class="nav-container">
            <div class="logo-section">
                <span class="logo-text">IdM KB</span>
            </div>
            
            <div class="nav-links">
                <a href="knowledge_base" class="nav-link" id="homeLink">
                    <span class="icon">🏠</span> Home
                </a>
                <a href="guide" class="nav-link" id="guideLink">
                    <span class="icon">📚</span> Guide
                </a>
            </div>
        </nav>
    </header>
    
    ciao

</body>