<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NDID Knowledge Base</title>

    <link rel="stylesheet" href="static/styles.css">
    <script>
        async function getTable() {
            const response = await fetch('/get_specific');
            const data = await response.json();

            if(data.abc)
                alert("idk how this is workings");
            else
                alert("luckily this is not working");

            var entity = data.entity;
            if(entity){
                document.getElementById("starting_record_table").innerHTML = data.starting_record;
                document.getElementById("starting_record_container").style.display = "block";
                

                if(entity == "Requirements")
                {
                    document.getElementById("mitigations_table").innerHTML = data.table_html;
                    document.getElementById("mitigations_container").style.display = "block"; 
                }
                if(entity == "Mitigations")
                {
                    document.getElementById("requirements_table").innerHTML = data.table_html;
                    document.getElementById("requirements_container").style.display = "block"; 
                }
                if(entity == "Threats")
                {
                    document.getElementById("threats_table").innerHTML = data.table_html;
                    document.getElementById("threats_container").style.display = "block"; 
                }
            }
            
        }  
    </script>
</head>
<body onload="getTable()">

    <div class="container" id="starting_record_container" style="display: none;">
        <div class="content" id="item_name_container">
            <p id="item_name"></p>
            <p id="item_definition"></p>
        </div>
        <div class="content" id="item_content">
            <div id="starting_record_table"></div>
        </div>
    </div>
    
    <div class="container" id="requirements_container" style="display: none;">
        <div class="content" id="item_name_container">
            <p id="entity_name">Related Requirements</p>
            <p id="requirements_definition"></p>
        </div>
        <div class="content" id="item_content">
            <div id="requirements_table"></div>
        </div>
    </div>

    
    <div class="container" id="mitigations_container" style="display: none;">
        <div class="content" id="item_name_container">
            <p class="entity_name" id="mitigations_name">Related Mitigations</p>
            <p id="mitigations_definition"></p>
        </div>
        <div class="content" id="item_content">
            <div id="mitigations_table"></div>
        </div>
    </div>

    <div class="container" id="threats_container" style="display: none;">
        <div class="content" id="item_name_container">
            <p class="entity_name" id="threats_name">Related Threats</p>
            <p id="threats_definition"></p>
        </div>
        <div class="content" id="item_content">
            <div id="threats_table"></div>
        </div>
    </div>

    
    
</body>
</html>
