<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NDID Knowledge Base</title>

    <link rel="stylesheet" href="static/styles.css">
    <script>
        async function getTable() {
            const response = await fetch('/get_specific');
            const data = await response.json();

            if(data.entities && data.tables){

                var tables = [...data.tables]; // this thing somehow converts a stringified list to an array
                var entities = [...data.entities];

                if(tables.length == entities.length){

                    for (let i = 0; i < tables.length; i++) {

                        // use this block template for every entity table
                        new_html_block = `<div class="container" id="${entities[i]}_container">
                            <div class="content" id="item_name_container">
                                <p id="entity_name">Related ${entities[i]}</p>
                                <p id="${entities[i]}_definition"></p>
                            </div>
                            <div class="content" id="item_content">
                                <div id="${entities[i]}_table">${tables[i]}</div>
                            </div>
                        </div>`;

                        document.getElementById("where-all-tables-go").innerHTML += new_html_block; 

                    }
                }
            }
            else
                alert("luckily this is not working");
            

            var entity = data.entity;
            if(entity){
                document.getElementById("starting_record_table").innerHTML = data.starting_record;
                document.getElementById("starting_record_container").style.display = "block";
            }
            
        }  
    </script>
</head>
<body onload="getTable()">

    <div class="container" id="starting_record_container" style="display: none;">
        <div class="content" id="item_name_container">
            <p id="item_name">Selected Record</p>
            <p id="item_definition"></p>
        </div>
        <div class="content" id="item_content">
            <div id="starting_record_table"></div>
        </div>
    </div>

    <div id="where-all-tables-go"></div>
    
    
</body>
</html>
